<style>
  /* .search-btn{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover{
    background-color: #fe424d;
    color: white;
}

.search-btn i{
  display: inline;
  margin-right: 0.5rem;
}

.search-input{
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
} */

.search-btn {
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem; /* space between icon and text */
  font-weight: 500;
  border: none;
}

.search-btn:hover {
  background-color: #fe424d;
  color: white;
}

.search-btn i {
  font-size: 1rem;
  line-height: 1;
}

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
    </div>
    </div>
    <div class="navbar-nav">
  <form class="d-flex ms-2" role="search" action="/listings" method="GET">
  <input 
    class="form-control me-2 search-input" 
    type="search" 
    name="country" 
    placeholder="Search destinations" 
    aria-label="Search"
  >
  <button class="btn search-btn" type="submit">
    <i class="fa-solid fa-magnifying-glass"></i> Search
  </button>
</form>

    </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser){%>
        <a class="nav-link" href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <%} %>
        <% if(currUser){%>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <%} %>
      </div>
    </div>
  </div>
</nav>